@media (max-width: 1200px){}

@media (max-width: 992px){
    .tourbox{
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px){
    .tourbox{
        grid-template-columns: repeat(1, 1fr);
      }
      .video{
        width: 768px;
height: 769px;
      }
      .promo h1{
        font-size: 60px;
      }
      .promo{
      height: 575px;
      }
      .nav{
        display: none;
        
      }
      .menu{
        display: flex;
      }
}

@media (max-width: 576px){
    .promo h1{
margin-top:100px;
font-size: 36px;
    }
}